/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/

/app/assets/builds/*
# /test/dummy/app/models/*
# /test/dummy/db/migrate/*
/test/dummy/db/schema.rb
/test/dummy/test/fixtures/*
# /test/dummy/db/*
/test/*
/app/assets/builds/*
/node_modules/
/package.json
/package-lock.json
