@layer components {
  .scrollbar-thin {
    /* The height makes the horizontal scroll thin */
    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
      @apply rounded-full;
    }

    &::-webkit-scrollbar-track {
      @apply bg-background;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-panel;
    }

    &::-webkit-scrollbar-thumb:hover {
      @apply bg-hover;
    }

    /* Support for Firefox */
    scrollbar-width: thin;
    scrollbar-color: theme("colors.panel") theme("colors.background");
  }
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset !important;
    -webkit-text-fill-color: var(--color-main-text) !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
