<% attributes&.each do |attr| -%>
# <%= attr[:name] %><%= " " * (longest_name_length - attr[:name].length)%>: <%= attr[:type] %>
<% end %>
class <%= model_name.capitalize %> < ApplicationRecord
<% relations.each do |rel| -%>
  <%= rel[:type] -%> :<%= rel[:table_name] %>
<% end -%>
<% attributes&.each do |attr| -%>
<% attr[:validations]&.each do |val| -%>
  validates :<%= val[:name] -%>, <%= val[:type] -%>: <%= val[:value].to_s %>
<% end -%>
<% end -%>
end
