<% attributes&.each do |attr| -%>
# <%= attr[:name] %><%= " " * (longest_name_length - attr[:name].length)%>: <%= attr[:type] %>
<% end %>
class <%= model_name.classify %> < ApplicationRecord
<% relations&.each do |rel| -%>
<% case rel[:type] -%>
<% when "has_many" -%>
  <%= rel[:type] %> :<%= relation_name(rel) %>
<% when "has_and_belongs_to_many" -%>
  <%= rel[:type] %> :<%= relation_name(rel) %>
<% when "belongs_to", "has_one" -%>
  <%= rel[:type] %> :<%= relation_name(rel) %>
<% end -%>
<% end -%>
<% attributes&.each do |attr| -%>
<% attr[:validations]&.each do |val| -%>
  validates :<%= val[:name] -%>, <%= val[:type] -%>: <%= val[:value].to_s %>
<% end -%>
<% end -%>
<% unknown.each do |line| -%>
<%= line -%>
<% end -%>
